@font-face {
    font-family: museo sans;
    src: url(../fonts/museosans_500_macroman/MuseoSans_500-webfont.woff);
}
@font-face {
    font-family: museo slab;
    src: url(../fonts/museoslab_500_macroman/Museo_Slab_500_2-webfont.woff);
}
$contact:#576272;
$black:#19163a;
$kiddi-color:rgba(102,193,189,.11);